//-.sticky-lg-top
    .h3 Рекомендации
    .row
        .col-sm-6.col-lg-12.mb-4(style="display: flex")
            a.card(href="kak-kupit-bitkoin-i-lyubuyu-druguyu-kriptovalyutu")
                img.card-img-top(src="public/images/test.jpg", alt="", style="object-fit: cover; height: 200px")
                .card-body
                    h5.card-title Как купить биткоин и любую другую криптовалюту?

        .col-sm-6.col-lg-12.mb-4(style="display: flex")
            a.card(href="kak-kupit-bitkoin-i-lyubuyu-druguyu-kriptovalyutu")
                img.card-img-top(src="public/images/test.jpg", alt="", style="object-fit: cover; height: 200px")
                .card-body
                    h5.card-title Как купить биткоин и любую другую криптовалюту?
