extends ../../pug/layouts/default

block page-vars
    -
        var meta = {
            lang: 'en',
            title: 'Cryptocurrency exchanges list | Crypto trading platform',
            h1: 'Best bitcoin trading platform',
            description: 'Top crypto exchanges list. Decentralized and centralized cryptocurrency exchange. Convert cryptocurrency trading platform.',
            keywords: 'crypto exchange, top crypto exchanges, digital currency exchange,  crypto currency rate, best bitcoin trading app list',
            type: 'article', //- website, article, audio, video
            url: PROJECT_URL + 'articles/best-bitcoin-trading-platform',
            image: PROJECT_URL + 'public/images/exchanges/exchanges-main.jpg'
        }
        var navBar = {
            currentUrl: 'categories',
            list: [
                {
                    value: 'categories',
                    title: 'Categories',
                    url: '/categories'
                },
                {
                    value: 'market',
                    title: 'Market',
                    url: '/market'
                },
                {
                    value: 'portfolio',
                    title: 'Portfolio',
                    url: '/portfolio'
                },
                {
                    value: 'about',
                    title: 'About',
                    url: '/about'
                },
            ]
        }
        var breadcrumbsList = [
            {
                title: 'Categories',
                url: '/categories'
            },
            // {
            //     title: 'Articles',
            //     url: '/articles'
            // },
            {
                title: meta.h1,
                url: ''
            }
        ]

block main
    section
        .container
            h1.mb-2.mt-5.display-6= meta.h1

            +breadcrumbs(breadcrumbsList, meta.lang)

            .row
                .col-lg-9.col-xl-8.mb-4

                    .row.align-items-center
                        .col.pb-2

                            +date(meta.lang, '22.10.2020')

                        .col-auto.pb-2

                            +share(meta.lang)

                    .mb-5
                        picture
                            source(data-srcset="/public/images/exchanges/exchanges-main.jpg 2x, /public/images/exchanges/exchanges-main_sm.jpg 1x", media="(max-width: 768px)")
                            source(data-srcset="/public/images/exchanges/exchanges-main@2x.jpg 2x, /public/images/exchanges/exchanges-main.jpg 1x")
                            img.lazy(data-src="/public/images/exchanges/exchanges-main.jpg", alt="Cryptocurrencies Exchanges")

                    div !{require('../../components/content/en/best-bitcoin-trading-platform.md')}

                .col-lg-3.offset-xl-1
                    include ../../components/aside/en/aside-1

block scripts
    script(src="https://yastatic.net/share2/share.js")
