extends ../../pug/layouts/default

block page-vars
    -
        var meta = {
            path: '../',
            lang: 'en',
            title: 'BC Portfolio app user guide | Blog Crypto Portfolio App',
            h1: 'BC Portfolio app user guide',
            description: 'Step-by-step instructions for working with the cryptocurrency portfolio app BC Portfolio. A detailed guide to the Blog Crypto Portfolio app.',
            keywords: 'BC Portfolio Crypto Portfolio Guide, Crypto Portfolio Guide, About BC Portfolio App',
            type: 'article', //- website, article, audio, video
            url: PROJECT_URL + '/guides/bc-portfolio-app-user-guide',
            image: PROJECT_URL + '/public/images/portfolio/portfolio.jpg'
        }
        var navBar = {
            currentUrl: 'blog',
            list: [
                {
                    value: 'portfolio',
                    title: 'Portfolio',
                    url: meta.path + '/portfolio'
                },
                {
                    value: 'market',
                    title: 'Market',
                    url: meta.path + '/market'
                },
                {
                    value: 'converter',
                    title: 'Converter',
                    url: meta.path + '/converter'
                },
                {
                    value: 'blog',
                    title: 'Blog',
                    url: meta.path + '/blog'
                },
                {
                    value: 'about',
                    title: 'About',
                    url: meta.path + '/about'
                },
            ]
        }

        var breadcrumbsList = [
            {
                title: 'Categories',
                url: meta.path + '/blog'
            },
            {
                title: 'Guides',
                url: meta.path + '/guides'
            },
            {
                title: meta.h1,
                url: ''
            }
        ]

block main
    section
        .container
            h1.mb-2.mt-5.display-6= meta.h1

            +breadcrumbs(breadcrumbsList, meta.lang, meta.path)

            .row
                .col-lg-9.col-xl-8.mb-4

                    .row.align-items-center
                        .col.pb-2

                            +date(meta.lang, meta.path, '09.12.2020')

                        .col-auto.pb-2

                            +share(meta.lang)

                    .mb-5
                        picture
                            source(srcset= meta.path + "public/images/portfolio/portfolio.jpg 2x, " + meta.path + "public/images/portfolio/portfolio_sm.jpg 1x", media="(max-width: 768px)")
                            source(srcset= meta.path + "public/images/portfolio/portfolio@2x.jpg 2x, " + meta.path + "public/images/portfolio/portfolio.jpg 1x")
                            img(src= meta.path + "public/images/portfolio/portfolio.jpg", alt="BC Portfolio App")

                    div !{require('../../content/en/bc-portfolio-app-user-guide.md')}

                .col-lg-3.offset-xl-1
                    include ../../components/aside/en/aside-1

block scripts
    script(src="https://yastatic.net/share2/share.js")
