extends ../../pug/layouts/default

block page-vars
    -
        var meta = {
            lang: 'en',
            title: 'Guides and detailed instructions for working with cryptocurrency',
            h1: 'Guides',
            description: 'Detailed guides and step-by-step instructions for working with cryptocurrency wallets, exchanges and other tools and blockchain technology.',
            keywords: 'how to buy bitcoin step by step instructions how to start a cryptocurrency wallet',
            type: 'website', //- website, article, audio, video
            url: PROJECT_URL + '/guides',
            image: PROJECT_URL + '/public/images/main.jpg'
        }

        var navBar = {
            currentUrl: 'blog',
            list: [
                {
                    value: 'portfolio',
                    title: 'Portfolio',
                    url: '/portfolio'
                },
                {
                    value: 'market',
                    title: 'Market',
                    url: '/market'
                },
                {
                    value: 'blog',
                    title: 'Blog',
                    url: '/blog'
                },
                {
                    value: 'about',
                    title: 'About',
                    url: '/about'
                },
            ]
        }

        var breadcrumbsList = [
            {
                title: 'Categories',
                url: '/blog'
            },
            {
                title: meta.h1,
                url: ''
            }
        ]

        var data = [
            {
                url: '/guides/bc-portfolio-app-user-guide',
                title: 'BC Portfolio app user guide',
                img: {
                    x1: '/public/images/portfolio/portfolio_sm.jpg',
                    x2: '/public/images/portfolio/portfolio.jpg'
                },
                alt: 'BC Portfolio App',
                category: 'Guides'
            }
        ]

block main
    section.mb-4
        .container
            h1.mb-2.mt-5.display-6= meta.h1

            +breadcrumbs(breadcrumbsList, meta.lang)

            if (data)
                .row
                    each item in data
                        .col-sm-6.col-lg-4.col-xl-3.mb-4(style="display: flex")
                            +card(item.url, item.title, item.img, item.alt)
