
-
    var settings = {
        isDevelopment: htmlWebpackPlugin.options.isDevelopment,
        paths: {
            favicon: '/public/favicon/'
        }
    }

meta(http-equiv="content-type", content="text/html; charset=utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
meta(http-equiv="x-ua-compatible", content="ie=edge")
meta(name="HandheldFriendly", content="true")
meta(name="MobileOptimized", content="width")
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="format-detection", content="telephone=no")
meta(name="format-detection", content="address=no")

link(rel="apple-touch-icon", sizes="180x180", href= settings.paths.favicon + "apple-touch-icon.png")
link(rel="icon", type="image/png", sizes="32x32", href= settings.paths.favicon + "favicon-32x32.png")
link(rel="icon", type="image/png", sizes="16x16", href= settings.paths.favicon + "favicon-16x16.png")
link(rel="manifest", href= settings.paths.favicon + "site.webmanifest")
link(rel="mask-icon", href= settings.paths.favicon + "safari-pinned-tab.svg", color="#5bbad5")
link(rel="shortcut icon", href= settings.paths.favicon + "favicon.ico")
meta(name="msapplication-TileColor", content="#2d89ef")
meta(name="msapplication-config", content= settings.paths.favicon + "browserconfig.xml")
meta(name="theme-color", content="#ffffff")

meta(property="og:site_name", content="Blog Crypto")
//- meta(property="fb:app_id", content="")

if !settings.isDevelopment
    meta(name="google-site-verification", content="OB6y3CtO_qNFYBxBQm5oNWpTT1TR3svNh-7qlWew0eU")
    meta(name="yandex-verification", content="d869b05c894acadb")

    // Global site tag (gtag.js) - Google Analytics
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176966784-1"></script>
    <script>
        | window.dataLayer = window.dataLayer || [];
        | function gtag(){dataLayer.push(arguments);}
        | gtag('js', new Date());
        | gtag('config', 'UA-176966784-1');
    </script>

    // Yandex.Metrika counter
    <script type="text/javascript">
        | (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        |   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        | (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
        | ym(66920359, "init", {
        | clickmap:true,
        |    trackLinks:true,
        |   accurateTrackBounce:true
        | });
    </script>
    // <noscript><div><img src="https://mc.yandex.ru/watch/66920359" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    // Yandex.Metrika counter
