mixin breadcrumbs(list, lang)
    nav(aria-label="breadcrumb")
        ol.breadcrumb.bg-transparent.px-0
            li.breadcrumb-item
                if lang === 'ru'
                    a.breadcrumb-link(href="/ru/index")
                        img(src="public/icons/home.svg", alt="Домой", title="На главную страницу", style="width:1em;height:1em")
                else
                    a.breadcrumb-link(href="/index")
                        img(src="public/icons/home.svg", alt="Home", title="To Home Page", style="width:1em;height:1em")

            each item in list
                if item.url === ''
                    li.breadcrumb-item(class="active")= item.title
                else
                    li.breadcrumb-item
                        a(href= item.url)= item.title
