extends ../pug/layouts/default

block page-vars
    -
        var meta = {
            lang: 'en',
            title: 'About Blog Crypto – our mission and contacts',
            h1: 'About Us',
            description: 'About the Information resource telling about smart contracts, Bitcoin, cryptocurrency and blockchain technology in simple words.',
            keywords: 'about Blog Crypto, about us, contacts, feedback form, our mission and purpose',
            type: 'website', //- website, article, audio, video
            url: PROJECT_URL + 'about',
            image: PROJECT_URL + 'public/images/main.jpg'
        }
        var navBar = {
            currentUrl: 'about',
            list: [
                {
                    value: 'categories',
                    title: 'Categories',
                    url: '/categories'
                },
                {
                    value: 'market',
                    title: 'Market',
                    url: '/market'
                },
                {
                    value: 'portfolio',
                    title: 'Portfolio',
                    url: '/portfolio'
                },
                {
                    value: 'about',
                    title: 'About',
                    url: '/about'
                },
            ]
        }

block main
    section.mb-4
        .container
            h1.mb-2.mt-5.display-6= meta.h1

            .row
                .col-md-8.col-lg-9
                    p Welcome to the Blog Crypto. Here you can find out the current value of bitcoin and other cryptocurrencies, see the statistics of the main cryptocurrency indices, and also use our services.
                    p Blog Crypto provides free services such as currency conversion and a personal portfolio that will help you analyze your cryptocurrency investments and tell you when you should sell part of your assets or buy in addition to existing ones.
                    p The Blog Crypto project was created to accelerate the transition of the world to cryptocurrency, telling in simple language about such concepts as blockchain, mining, smart contracts and other financial information and solutions, thereby trying to reduce the barrier to entry into the world of blockchain and cryptocurrencies.

                .col-md-4.col-lg-3.text-center.mt-4.mt-md-0
                    img.logo-img(src='/public/icons/logo.svg', alt="logo", style="width:12rem;height:12rem")

            .row
                .col-sm-9.col-md-8.col.col-lg-7.col-xl-6
                    h2#contacts Contacts
                    form
                        .mb-3
                            label.form-label(for="inputName") Your name
                            input#inputName.form-control(type="text")

                        .mb-3
                            label.form-label(for="inputEmail") Your email
                            input#inputEmail.form-control(type="email")

                        .mb-3
                            label.form-label(for="inputTheme") Message subject
                            select#inputTheme.form-select(aria-label="Default select example", aria-describedby="themeHelp")
                                option(selected) Common
                                option(value="1") Feedback or suggestion
                                option(value="2") Cooperation proposal
                                option(value="3") Bug report
                            #themeHelp.form-text Please select a subject for your message

                        .mb-3
                            label.form-label(for="inputMessage") Your message
                            textarea#inputMessage.form-control(rows="4")

                        .mb-3
                            label.form-label(for="formFile") Add file (optional)
                            input.form-control#formFile(type="file", aria-describedby="fileHelp", multiple)
                            #fileHelp.form-text Max file size 10Mb

                        button.btn.btn-primary.px-5(type="submit") Sent
