extends ../pug/layouts/default

block page-vars
    -
        var meta = {
            lang: 'en',
            title: 'Blog | Blog Crypto – news, guides, reviews',
            h1: 'Categories',
            description: 'Blockchain news. Cryptocurrency guides. Cryptocurrency ratings. Reviews of exchanges and cryptocurrencies. Description of blockchain technology.',
            keywords: 'bitcoin news, cryptocurrency guides, cryptocurrency review, cryptocurrency trading platform reviews, blockchain technology, cryptocurrency rating',
            type: 'website', //- website, article, audio, video
            url: PROJECT_URL + '/blog',
            image: PROJECT_URL + '/public/images/main.jpg'
        }

        var navBar = {
            currentUrl: 'blog',
            list: [
                {
                    value: 'portfolio',
                    title: 'Portfolio',
                    url: '/portfolio'
                },
                {
                    value: 'market',
                    title: 'Market',
                    url: '/market'
                },
                {
                    value: 'converter',
                    title: 'Converter',
                    url: '/converter'
                },
                {
                    value: 'blog',
                    title: 'Blog',
                    url: '/blog'
                },
                {
                    value: 'about',
                    title: 'About',
                    url: '/about'
                },
            ]
        }

        var categoriesList = [
            {
                url: '/articles',
                img: {
                    x1: 'public/images/category/category-2_sm.jpg',
                    x2: 'public/images/category/category-2.jpg'
                },
                alt: '',
                title: 'Articles',
                desc: ''
            },
            {
                url: '/guides',
                img: {
                    x1: 'public/images/category/category-1_sm.jpg',
                    x2: 'public/images/category/category-1.jpg'
                },
                alt: '',
                title: 'Guides',
                desc: ''
            }
        ]

        var data = [
            {
                url: 'articles/hardware-wallet',
                title: 'Hardware wallet',
                img: {
                    x1: 'public/images/hardware-wallets/hardware-wallets_sm.jpg',
                    x2: 'public/images/hardware-wallets/hardware-wallets.jpg'
                },
                alt: 'Hardware wallets',
                category: 'Articles'
            },
            {
                url: 'guides/bc-portfolio-app-user-guide',
                title: 'BC Portfolio app user guide',
                img: {
                    x1: 'public/images/portfolio/portfolio_sm.jpg',
                    x2: 'public/images/portfolio/portfolio.jpg'
                },
                alt: 'BC Portfolio App',
                category: 'Guides'
            },
            {
                url: 'articles/best-bitcoin-trading-platform',
                title: 'Best bitcoin trading platform',
                img: {
                    x1: 'public/images/exchanges/exchanges-main_sm.jpg',
                    x2: 'public/images/exchanges/exchanges-main.jpg'
                },
                alt: 'Cryptocurrencies Exchanges',
                category: 'Articles'
            }
        ]

block main
    section.mb-4
        .container
            h1.mb-3.mt-5.display-6= meta.h1

            if (categoriesList)
                .row
                    each item in categoriesList
                        .col-md-6.col-xxl-3.mb-4(style="display: flex")
                            +category(item.url, item.img, item.alt, item.title, item.desc)

            h2.mb-3 Last publications

            if (data)
                .row
                    each item in data
                        .col-sm-6.col-lg-4.col-xl-3.mb-4(style="display: flex")
                            +card(item.url, item.title, item.img, item.alt, item.category, item.label)
