extends ../pug/layouts/default

block page-vars
    -
        var meta = {
            lang: 'en',
            title: 'Categories | Blog Crypto – news, guides, reviews',
            h1: 'Categories',
            description: 'Blockchain news. Cryptocurrency guides. Cryptocurrency ratings. Reviews of exchanges and cryptocurrencies. Description of blockchain technology.',
            keywords: 'bitcoin news, cryptocurrency guides, cryptocurrency review, cryptocurrency trading platform reviews, blockchain technology, cryptocurrency rating',
            type: 'website', //- website, article, audio, video
            url: PROJECT_URL + 'categories',
            image: PROJECT_URL + 'public/images/main.jpg'
        }
        var navBar = {
            currentUrl: 'categories',
            list: [
                {
                    value: 'categories',
                    title: 'Categories',
                    url: '/categories'
                },
                {
                    value: 'market',
                    title: 'Market',
                    url: '/market'
                },
                {
                    value: 'portfolio',
                    title: 'Portfolio',
                    url: '/portfolio'
                },
                {
                    value: 'about',
                    title: 'About',
                    url: '/about'
                },
            ]
        }
        var breadcrumbsList = [
            {
                title: 'Categories',
                url: ''
            }
        ]
        // var categoriesList = [
        //     {
        //         url: '/articles',
        //         img: '/public/images/test2.jpg',
        //         alt: '',
        //         title: 'Articles',
        //         desc: 'Reviews of coins and cryptocurrency exchanges'
        //     },
        // ]
        var data = [
            {
                url: 'articles/best-bitcoin-trading-platform',
                title: 'Best bitcoin trading platform',
                img: {
                    x1: '/public/images/exchanges/exchanges-main_sm.jpg',
                    x2: '/public/images/exchanges/exchanges-main.jpg'
                },
                alt: 'Cryptocurrencies Exchanges'
            },
            {
                url: 'guides/bc-portfolio-app-user-guide',
                title: 'BC Portfolio app user guide',
                img: {
                    x1: '/public/images/portfolio/portfolio_sm.jpg',
                    x2: '/public/images/portfolio/portfolio.jpg'
                },
                alt: 'BC Portfolio App'
            }
        ]

block main
    section.mb-4
        .container
            h1.mb-2.mt-5.display-6= meta.h1

            +breadcrumbs(breadcrumbsList, meta.lang)

            if (data)
                .row
                    each item in data
                        .col-sm-6.col-lg-4.col-xl-3.mb-4(style="display: flex")
                            +card(item.url, item.title, item.img, item.alt)

            //-if (categoriesList)
                .row
                    each item in categoriesList
                        .col-md-6.col-xxl-3.mb-4(style="display: flex")
                            +category(item.url, item.img, item.alt, item.title, item.desc)


            //-.row
                .col-sm-6.col-lg-4.col-xl-3.mb-4(style="display: flex")
                    a.card(href="/articles/best-bitcoin-trading-platform")
                        img.card-img-top(src="../public/images/test2.jpg", alt="", style="object-fit: cover; height: 200px")
                        .card-body
                            h5.card-title Лучшие биржи криптовалют

