extends ../pug/layouts/default

block page-vars
    -
        var meta = {
            lang: 'en',
            title: 'Cryptocurrency price | BTC in usd',
            h1: '1 BTC in usd',
            description: 'Coins market. Top 10 cryptocurrency prices. Price of bitcoin today. Bitcoin cash, xrp, ada, price today in usd and euro. Ethereum rate today.',
            keywords: 'cryptocurrency prices today, bitcoin cash price, bitcoin market cap, bitcoin rate, eth price usd, bitcoin cost',
            type: 'website',
            url: PROJECT_URL,
            image: PROJECT_URL + 'public/images/main.jpg'
        }
        var navBar = {
            currentUrl: '',
            list: [
                {
                    value: 'categories',
                    title: 'Categories',
                    url: '/categories'
                },
                {
                    value: 'market',
                    title: 'Market',
                    url: '/market'
                },
                {
                    value: 'portfolio',
                    title: 'Portfolio',
                    url: '/portfolio'
                },
            ]
        }
        var local = {
            marketCap: 'Top 10 cryptocurrency market cap',
            showAll: 'Show all'
        }

block main
    .container
        .text-md-right
            .d-inline-flex.align-items-baseline.mb-4.mt-5.alert.alert-primary
                h1.display-6.mr-3= meta.h1

                .display-4.font-weight-normal.mr-1.text-nowrap.js-btc-price
                span.display-6 $

    section.mb-5
        .container
            h2.mb-4.display-6= local.marketCap
            .market.table-nowrap.table-responsive-xl.js-market(data-per-page="10", data-currency="usd", data-decimal="2")
            .mt-4
                a.btn.btn-primary.btn-lg.active(href="/market", role="button", aria-pressed="true")= local.showAll
