extends ../pug/layouts/default

block page-vars
    -
        var meta = {
            lang: 'en',
            title: 'Cryptocurrency market capitalization | Bitcoin course',
            h1: 'Cryptocurrency market cap',
            description: 'Altcoin market cap. Bitcoin market exchange. BTC, ethereum, bitcoin cash, xrp, litecoin, ada, dogecoin, bnb coin market cap.',
            keywords: 'all coin market, crypto market, bitcoin market rate, cardano market, btt coin market, dash coin market cap, zcash market cap',
            type: 'website',
            url: PROJECT_URL + '/market',
            image: PROJECT_URL + '/public/images/main.jpg'
        }
        var navBar = {
            currentUrl: 'market',
            list: [
                {
                    value: 'portfolio',
                    title: 'Portfolio',
                    url: '/portfolio'
                },
                {
                    value: 'market',
                    title: 'Market',
                    url: '/market'
                },
                {
                    value: 'converter',
                    title: 'Converter',
                    url: '/converter'
                },
                {
                    value: 'blog',
                    title: 'Blog',
                    url: '/blog'
                },
                {
                    value: 'about',
                    title: 'About',
                    url: '/about'
                },
            ]
        }
        var local = {
            currency: 'Currency',
            perPage: 'Limit'
        }

block main
    section.mb-4
        .container
            h1.mb-4.mt-5.display-6= meta.h1

            .js-market-wrapper

                .row.align-items-end
                    .col-sm.col-md-4.col-lg-3.mb-4
                        .row
                            .col-6.mb-2.mb-sm-0
                                label(for="inputCurrency")= local.currency
                                .select
                                    select#inputCurrency.form-control.js-market-currency
                                        option(value="usd", data-dec="2", data-symbol="$", data-symbol-start, selected) USD
                                        option(value="eur", data-dec="2", data-symbol="€", data-symbol-start) EUR
                                        option(value="rub", data-dec="2", data-symbol="₽") RUB
                                        option(value="uah", data-dec="2", data-symbol="₴") UAH
                                        option(value="btc", data-symbol="₿") BTC
                                        option(value="eth", data-symbol="Ξ") ETH

                            .col-6.mb-2.mb-sm-0
                                label(for="inputPerPage")= local.perPage
                                .select
                                    select#inputPerPage.form-control.js-market-per-page
                                        option(value="20") 20
                                        option(value="50", selected) 50
                                        option(value="100") 100

                    .col-sm-auto.col-md-8.col-lg-9.mb-2
                        nav(aria-label="pagination")
                            .js-market-pagination

                .market.table-nowrap.table-responsive-xl.js-market

                nav.mt-4(aria-label="pagination")
                    .js-market-pagination

block scripts
    script(src="/dist/js/market.js")
