.not-found
    .not-found__title
        .not-found__num.not-found__num--left 4
        .not-found__num.not-found__num--center 0
        .not-found__num.not-found__num--right 4

    .not-found__desc.display-4 Page not found :(
    .not-found__btn-wrap
        a.btn.btn-primary.js-link-home.px-5(href="/", role="button") Home
