extends ../../pug/layouts/default

block page-vars
    -
        var meta = {
            lang: 'ru',
            title: 'Категории | Blog Crypto – новости, руководства, обзоры',
            h1: 'Категории',
            description: 'Блокчейн новости. Руководства по работе с криптовалютой. Рейтинги криптовалют. Обзоры бирж и криптовалют. Описание технологии блокчейн. ',
            keywords: 'bitcoin новости, гайды по криптовалюте, обзор криптовалют, обзоры криптовалютных бирж, технология blockchain, рейтинг криптовалют',
            type: 'website', //- website, article, audio, video
            url: PROJECT_URL + 'ru/categories',
            image: PROJECT_URL + 'public/images/main.jpg'
        }
        var navBar = {
            currentUrl: 'categories',
            list: [
                {
                    value: 'categories',
                    title: 'Категории',
                    url: '/ru/categories'
                },
                {
                    value: 'market',
                    title: 'Курс криптовалют',
                    url: '/ru/market'
                },
                {
                    value: 'portfolio',
                    title: 'Портфолио',
                    url: '/ru/portfolio'
                },
                {
                    value: 'about',
                    title: 'О нас',
                    url: '/ru/about'
                },
            ]
        }
        var breadcrumbsList = [
            {
                title: 'Категории',
                url: ''
            }
        ]
        // var categoriesList = [
        //     {
        //         url: '/ru/articles',
        //         img: '/public/images/test2.jpg',
        //         alt: '',
        //         title: 'Статьи',
        //         desc: 'Обзоры монет и криптовалютных бирж'
        //     },
        // ]
        var data = [
            {
                url: '/ru/articles/luchshie-birzhi-kriptovalyut',
                title: 'Лучшие биржи криптовалют',
                img: {
                    x1: '/public/images/exchanges/exchanges-main_sm.jpg',
                    x2: '/public/images/exchanges/exchanges-main.jpg',
                },
                alt: 'Криптовалютные биржи'
            },
            {
                url: '/ru/guides/rukovodstvo-polzovatelya-bc-portfolio',
                title: 'Руководство пользователя Portfolio BC',
                img: {
                    x1: '/public/images/portfolio/portfolio_sm.jpg',
                    x2: '/public/images/portfolio/portfolio.jpg',
                },
                alt: 'Приложение BC Portfolio'
            }
        ]

block main
    section.mb-4
        .container
            h1.mb-2.mt-5.display-6= meta.h1

            +breadcrumbs(breadcrumbsList, meta.lang)

            if (data)
                .row
                    each item in data
                        .col-sm-6.col-lg-4.col-xl-3.mb-4(style="display: flex")
                            +card(item.url, item.title, item.img, item.alt)

            //-if (categoriesList)
                .row
                    each item in categoriesList
                        .col-md-6.col-xxl-3.mb-4(style="display: flex")
                            +category(item.url, item.img, item.alt, item.title, item.desc)
