extends ../../pug/layouts/default

block page-vars
    -
        var meta = {
            lang: 'ru',
            title: 'Курс криптовалюты на сегодня | Биткоин к рублю, доллару, евро',
            h1: 'Курс криптовалют',
            description: 'Курс криптовалюты bitcoin, ethereum, iota, trx, xem, neo, waves, xmr, zcash к рублю, доллару, евро и другим фиатным валютам и криптовалютам.',
            keywords: 'bitcoin курс, биткоин голд курс, bitcoin sv, биткоин в грн, стратис криптовалюта курс, bitcoin cash курс',
            type: 'website',
            url: PROJECT_URL + '/ru/market',
            image: PROJECT_URL + '/public/images/main.jpg'
        }
        var navBar = {
            currentUrl: 'market',
            list: [
                {
                    value: 'portfolio',
                    title: 'Портфолио',
                    url: './ru/portfolio'
                },
                {
                    value: 'market',
                    title: 'Курс криптовалют',
                    url: './ru/market'
                },
                {
                    value: 'converter',
                    title: 'Конвертер',
                    url: './ru/converter'
                },
                {
                    value: 'blog',
                    title: 'Блог',
                    url: './ru/blog'
                },
                {
                    value: 'about',
                    title: 'О нас',
                    url: './ru/about'
                },
            ]
        }
        var local = {
            currency: 'Валюта',
            perPage: 'Показать'
        }

block main
    section.mb-4
        .container
            .bg-primary-light
                .row.justify-content-center
                    .col-auto
                        small Криптовалюты:&nbsp;
                        span.fw-bolder.js-market-cains-count
                            span.spinner-border.market-spinner(role="status")
                                span.visually-hidden Загрузка...
                    .col-auto
                        small Капитализация:&nbsp;
                        span.fw-bolder.js-market-cap
                            span.spinner-border.market-spinner(role="status")
                                span.visually-hidden Загрузка...
                    .col-auto
                        small Объем за сутки:&nbsp;
                        span.fw-bolder.js-market-vol
                            span.spinner-border.market-spinner(role="status")
                                span.visually-hidden Загрузка...
                    .col-auto
                        small Доминация:&nbsp;
                        span.fw-bolder.js-market-dominance
                            span.spinner-border.market-spinner(role="status")
                                span.visually-hidden Загрузка...

            h1.mb-4.mt-4.display-6 Курс криптовалют

            .js-market-wrapper

                .row.align-items-end
                    .col-sm.col-md-4.col-lg-3.mb-4
                        .row
                            .col-6.mb-2.mb-sm-0
                                label(for="inputCurrency")= local.currency
                                .select
                                    select#inputCurrency.form-control.js-market-currency
                                        option(value="usd", data-dec="2", data-symbol="$", data-symbol-start, selected) USD
                                        option(value="eur", data-dec="2", data-symbol="€", data-symbol-start) EUR
                                        option(value="rub", data-dec="2", data-symbol="₽") RUB
                                        option(value="uah", data-dec="2", data-symbol="₴") UAH
                                        option(value="btc", data-symbol="₿") BTC
                                        option(value="eth", data-symbol="Ξ") ETH

                            .col-6.mb-2.mb-sm-0
                                label(for="inputPerPage")= local.perPage
                                .select
                                    select#inputPerPage.form-control.js-market-per-page
                                        option(value="20") 20
                                        option(value="50", selected) 50
                                        option(value="100") 100

                    .col-sm-auto.col-md-8.col-lg-9.mb-2
                        nav(aria-label="pagination")
                            .js-market-pagination

                .market.table-nowrap.table-responsive-xl.js-market

                nav.mt-4(aria-label="pagination")
                    .js-market-pagination

block scripts
    script(src="./dist/js/market.js")
