.row
    //-.col-md-6.col-xxl-3.mb-4(style="display: flex")
        a.card.card-overlay(href="/category-news")
            img.card-img(src="/public/images/test2.jpg", alt="", style="object-fit: cover; height: 200px")
            .card-img-overlay
                h2.card-title Новости
                p.card-text Главные новости криптоиндустрии

    .col-md-6.col-xxl-3.mb-4(style="display: flex")
        a.card.card-overlay(href="/category-articles")
            img.card-img(src="/public/images/test2.jpg", alt="", style="object-fit: cover; height: 200px")
            .card-img-overlay
                h2.card-title Статьи
                p.card-text Обзоры монет и криптовалютных бирж

    //-.col-md-6.col-xxl-3.mb-4(style="display: flex")
        a.card.card-overlay(href="/category-guides")
            img.card-img(src="/public/images/test2.jpg", alt="", style="object-fit: cover; height: 200px")
            .card-img-overlay
                h2.card-title Руководства
                p.card-text Разбор инструментов и подробные инструкции по работе с криптовалютой

    //-.col-md-6.col-xxl-3.mb-4(style="display: flex")
        a.card.card-overlay(href="/category-blockchain")
            img.card-img(src="/public/images/test2.jpg", alt="", style="object-fit: cover; height: 200px")
            .card-img-overlay
                h2.card-title Блокчейн
                p.card-text Все что нужно хнать о технологии блокчейн
