doctype html

block page-vars

include ../mixins/mixins

html(lang= meta.lang)
    head
        block head
            include ../head
            +meta(meta)

    body.page
        .wrapper
            block header
                header.header#top
                    nav.navbar.navbar-expand-lg.navbar-light.bg-light
                        .container
                            .row.w-100.align-items-center.mx-0
                                .col-auto.px-0.order-lg-1
                                    a.navbar-brand.me-0.js-link-home(href= meta.lang === 'en' ? '/index': '/' + meta.lang + '/index')
                                        span.logo
                                            img.logo-img(src='public/icons/logo.svg', alt="logo", style="width:1em;height:1em")
                                        | Blog Crypto
                                .col-auto.ms-auto.px-0.order-lg-3
                                    include ../../components/switcher/switcher

                                if navBar
                                    .col-auto.pe-0.ps-1.ps-sm-3
                                        button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarToggle", aria-controls="navbarToggle", aria-expanded="false", aria-label="Toggle navigation")
                                            span.navbar-toggler-icon

                                    .col-12.col-lg.order-lg-2
                                        .collapse.navbar-collapse#navbarToggle
                                            +navbar(navBar.currentUrl, navBar.list)

                                            .d-lg-none.mt-3.pb-3
                                                include ../../components/search/search-form

            main.main.pb-5
                .container
                    .banner.mt-3
                        picture
                            source(srcset="public/images/banner-728x90@1x.jpg 2x, public/images/banner-728x90_sm.jpg 1x", media="(max-width: 768px)")
                            source(srcset="public/images/banner-970x90@2x.jpg 2x, public/images/banner-970x90.jpg 1x")
                            img(src="public/images/banner-970x90.jpg", alt="Blog Crypto banner")

                block main

            block footer
                footer.footer.bg-light.py-3
                    .container
                        .row.align-items-center
                            .col-auto.col-lg-1.text-center.text-lg-start.d-none.d-md-block.order-1.order-md-2.order-lg-1.pe-lg-0
                                a.logo.border-0(href="#top")
                                    img.logo-img(src='public/icons/logo.svg', alt="logo", style="width:1em;height:1em")

                            .col-sm.mb-3.mb-sm-0.order-sm-3
                                .social.text-center.text-sm-end.text-lg-center
                                    +social(meta.lang)

                            .d-none.d-lg-block.col-lg-4.col-xl-3.order-lg-4
                                include ../../components/search/search-form

                            .col-12.col-sm.col-lg-3.col-xl-2.order-lg-2.ps-lg-0
                                .attach.mt-md-2
                                    //-.d-flex.justify-content-center.justify-content-sm-start
                                        div Email:&nbsp;
                                        a(href="mailto:blogcryptoinfo@gmail.com") blogcryptoinfo@gmail.com
                                    .text-center.text-sm-start © 2021 Blog Crypto

        if !htmlWebpackPlugin.options.isDevelopment
            // Global site tag (gtag.js) - Google Analytics
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176966784-1"></script>
            <script>
            | window.dataLayer = window.dataLayer || [];
            | function gtag(){dataLayer.push(arguments);}
            | gtag('js', new Date());
            | gtag('config', 'UA-176966784-1');
            </script>

            // Yandex.Metrika counter
            <script type="text/javascript">
            | (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            |   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            | (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
            | ym(66920359, "init", {
            | clickmap:true,
            |    trackLinks:true,
            |   accurateTrackBounce:true
            | });
            </script>
            // <noscript><div><img src="https://mc.yandex.ru/watch/66920359" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
            // Yandex.Metrika counter

        script(src="./dist/js/main.js")

        block scripts
